<div class="container">

	<div class="jumbotron">
		<h1>Standard Media Placements</h1>
		<h3>A standard media ad is one that does not contain dynamic content or video.</h3>
	</div>
	<hr/>
	<div ng-controller="StandardPlacementController">
		<ul>
			<li ng-repeat="placement in placements">
				<ul>
					<li>{{ placement.name }}</li>
					<li>{{ placement.width }}x{{ placement.height }}</li>
					<li>{{ placement.file_type }}</li>
					<li>{{ placement.max_animation_framerate }}</li>
					<li>{{ placement.max_animation_length }}</li>
					<li>{{ placement.audio_initiation }}</li>
					<li>{{ placement.max_audio_length }}</li>
					<li>{{ placement.hotspot_specification }}</li>
					<li>{{ placement.z_index_range }}</li>
					<li>{{ placement.location_on_page }}</li>
					<li>{{ placement.publishers }}</li>
					<li>{{ placement.labeling_requirements }}</li>
					<li>{{ placement.submission_lead_time }}</li>
					<li>{{ placement.implmentation_notes }}</li>
					<li>{{ placement.best_practice_document_url }}</li>
					<li>{{ placement.more_information_url }}</li>
					<a class="btn btn-medium btn-primary" href="/standardplacement/edit/<%= placement.id %>">Edit</a>
				</ul>
			</li>
		</ul>
	</div>
	<a class="btn btn-medium btn-primary" href="/standardplacement/new">Create New Placement</a>
</div>